body{
    font-family: Arial;
    background: url(https://uploads.onecompiler.io/449uymqf6/44ke3em87/image_1776239801158.png);
}

.container{
    width:400px;
    margin:40px auto;
    backdrop-filter: blur(1000px);
    padding: 20PX;
    border-radius:10px;
    box-shadow:0 0 10px #ccc;
}

.step{
    display:none;
}

.step.active{
    display:block;
}

input, select{
    background: transparent;
    width: 94%;
    padding:8px;
    margin:8px 0;
    border: solid navy 1px;
}

button{
    position: center;
    padding:10px;
    margin-top:10px;
    width:48%;
    background: green;
}
button:active{
    background: greenyellow;
}
#preview:active{
    width:120px;
    height:150px;
    border:1px solid #ccc;
    display:block;
    margin-top:10px;
    object-fit:cover;
}
h2,H3{
    color: rgb(187, 190, 204);
    text-transform: uppercase;
    text-decoration: solid;
    text-align: center;
}
label{
    text-transform: capitalize;
    color: rgb(174, 205, 245);
}
::placeholder,select{
    color: rgb(174,205,245);
    font-weight: 200;
}
input{
    color: white;
    font-weight: 500;
}
input:active{
    background: #ccc;
}